header {
	height:50px; 
    background:#235569;
    width:100%;
}

#profile {
	border-radius: 50%;
    background:black;
}

.sub-header {
	width: 100%;
	height: 200px;
    background-image: url(../resources/images/sub-header-background.png);
}

.left-menu {
	background: yellow;
}

.content {
	background: #d0eaf5;
}

.main-row{
	height: 500px;
}

h1, h2 {
	color: #00BFFF;
}

.rt-icon {
	height: 15px;
	width: 15px;
}