body {
	background-image: url(../resources/images/Homework2/background.png);
	font-size: 8pt;
	font-family: Verdana, Tahoma, sans-serif;
}

header {
	background-image: url(../resources/images/Homework2/bannerbg.png);
}

.header-bg {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.movie-title {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	font-family: Tahoma, Verdana, sans-serif;
	text-shadow: 3px 3px #999999;
}

.main-body {
	width: 800px;
	height: 1100px;
	border: 4px solid gray;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}

.sub-header {
	width: 795px;
	height: 83px;
	background-image: url(../resources/images/Homework2/rbg.png);
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.rottenbig {
	text-align: left;
	border-top-left-radius: 16px;
}

#rt-percent{
	font-size: 44pt;
	font-weight: bold;
	color: red;
	vertical-align: middle;
}

.movie-overview {
	float: right;
	height: 1092px;
	width: 250px;
	background-color: #A2B964;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;

	font-size: 8pt;
	font-family: Arial, sans-serif;
}

.comment-section {
	width: 550px;
}

.big-block {
	float: left;
	display: inline;
	width: 45%;
	margin: 2% 2% 2% 2%;
}

.comment-block {
	border: 2px solid gray;
	border-radius: 10px;
	background-color: #E8DC9B;
	margin-bottom: 5px;
}

.review-icon {
	float: left;
	margin: 5px;
}

.review {
	margin: 8px;
	font-size: 8pt;
	font-weight: bold;
}

.comment-user-icon {
	float: left;
}

.comment-user-name {
	margin-bottom: 0px;
}

.comment-user-from {
	font-style: italic;
	margin-top: 0px;
}

dt {
	margin-left: 10px;
	margin-top: 10px;
}
dd {
	margin-left: 50px;
}

.footer-section {
	height: 50px;
	width: 794px;
	background-color: #A2B964;
	margin-top: 960px;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
}

#paging {
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
}